# Ambiente atual: development | production
EXPO_PUBLIC_APP_ENV=development

# URL da API em desenvolvimento (IP local da máquina na rede Wi-Fi)
# Não use localhost — no dispositivo físico/emulador Android, localhost aponta para o próprio aparelho
# Para descobrir seu IP: ipconfig (Windows) | ifconfig (Mac/Linux)
# Emulador Android: use http://10.0.2.2:3333
EXPO_PUBLIC_API_URL_DEV=http://SEU_IP_LOCAL:3333

# URL da API em produção
EXPO_PUBLIC_API_URL_PROD=https://api.healthmind.com
